header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/*********************************************************/
/*  Лого.  */
#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    min-width: 250px;
    margin-top: 0.5%;
    margin-left: 1%;
}
/*********************************************************/
/*  Авторизация. Панель.  */
#authorization-panel {
    margin-bottom: 1%;
    margin-right: 1.5%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#authorization-panel button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 3%;
    min-height: 32%;
    cursor: pointer;
    border: none;
    background: rgb(0, 103, 177);
    color: rgba(215, 235, 255, 0.792);
    border-radius: 15px;
    font-size: 120%;
}
#authorization-panel button:hover {
    background: rgb(5, 94, 162);
}
/*********************************************************/
/*  Авторизация. Всплывающее окно.  */
#screen-lock {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 5;
}
.screen-lock {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.form {
    display: flex;
    overflow: hidden;
    position: relative;
    top: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 550px;
    background-color: white;
    border-radius: 10%;
    z-index: 100;
    border: 0.5em solid rgb(5, 94, 162);
    transition: all 0.1s, border 1s;
}
.form:hover {
    border: 0.5em solid rgb(61, 158, 228);
}
.close {
    display: flex;
    cursor: pointer;
    margin-left: 75%;
    margin-top: 5%;
    background-color: white;
    width: 90px;
    border: none
}
.close img {
    width: 100%;
}
.form h1 {
    margin-top: 15%;
}
.form-input {
    background: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 10%;
    width: 50%;
    margin: 20px;
    font-size: 4ex;
}
/*********************************************************/
/*  Навигационная панель. Вкладки. */
#nav-panel {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 103, 177);
    border-top: 6px solid white;
    border-bottom: 2px solid white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
#nav-panel button {
    width: 100%;
    display: flex;
    cursor: pointer;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 250px;
    min-height: 50px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(0, 103, 177);
    color: rgba(215, 235, 255, 0.792);
    text-decoration: none;
    font-size: 150%;
    transition: color 0.3s, text-shadow 0.3s;
}
#nav-panel button:hover {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.767);
    transition: color 0.3s, text-shadow 0.3s;
 } 
 /*********************************************************/
/*  Навигационная панель. Паблики. */
 #public-panel {
    margin-left: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.public-cell {
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    margin: 1.5%;
    padding: 1.5%;
    min-width: 250px;
    height: 330px;
    background: linear-gradient(rgb(0, 103, 177), rgb(12, 132, 224));
    border-radius: 10px;
    box-shadow: 1px 0px 3px rgb(125, 125, 125);
}
/*********************************************************/