<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread</title>
</head>

<body>
    <div class="content">
        <p class="title">{{ thread.title }}</p>
        <p class="text">{{ thread.text }}</p>
        <p class="stats">{{ thread.date }} Лайки: {{ thread.likes }} Дизлайки: {{ thread.dislikes }}</p>

        {% if session %}
        <form action="/new_post/{{ thread.id }}" method="post">
            <label>New Post: <input type="text" name="text"></label>
            <input type="submit" value="Create">
        </form>
        {% endif %} {% for post in posts %}
        <p class="text">{{ post.text }}</p>
        {% endfor %}
    </div>
</body>

</html>